.Portfolio {
  padding: 2em 0;
  background-color: #000;
}
.Portfolio-row,
.Contact-row {
  width: 100%;
}
.Portfolio-row > .col-md-2,
.Contact-row > .col-md-2 {
  height: 600px;
  background-color: rgb(18, 0, 65);
}
.portfolio-title > h2 {
  margin-left: -1.6em;
}

.portfolio-title > h2,
.Contact-title > h2 {
  color: #ff9100;
  font-size: 4em;
  padding: 0;
  font-weight: 700;
  letter-spacing: 10px;
  font-family: Arial, Helvetica, sans-serif;
  transform: rotate(-90deg);
}
.projectCard {
  height: 250px;
  position: relative;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 8;
  background-color: #2424248e;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.projectCard:hover .overlay {
  opacity: 1;
}
.Card-details {
  position: absolute;
  padding: 5px 10px;

  width: 100%;
  height: 0;
  left: 0;
  color: #ffffff;
  bottom: 0;
  z-index: 10;
  overflow: hidden;
  background-image: linear-gradient(rgba(44, 4, 221, 0), rgb(44, 4, 221));
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.projectCard:hover .Card-details {
  position: absolute;
  height: 90%;
}
.tools {
  display: flex;
  flex-wrap: wrap;
}
.links {
  display: flex;
}
.codeLink,
.siteLink {
  cursor: pointer;
  margin-right: 5px;
  font-size: 15px;
  padding: 10px;
  border-radius: 15px;
  color: #ff9100;
  background-color: #ffffff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.codeLink,
.siteLink {
  text-decoration: none;
  color: #ff9100;
}
.codeLink:hover,
.siteLink:hover {
  text-decoration: none;
  color: #ff9100;
}
.tools > div {
  background-color: #ff9100;
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 10px;
  color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.projectCard:hover .projectCard::after {
  background-color: #ff910083;
}
.projectCard > img {
  width: 100%;
  height: 100%;
}

.projects {
  padding: 0 5em;
}
.projectCard > a > img {
  width: 100%;
  height: 100%;
}

@media (max-width: 993px) {
  .portfolio-title > h2 {
    margin-left: -2.5em;
  }
  .Portfolio-row > .col-md-2,
  .Contact-row > .col-md-2 {
    height: auto;
    background-color: rgb(18, 0, 65);
  }
}
@media (max-width: 768px) {
  .portfolio-title > h2 {
    margin-left: 0;
  }
  .Portfolio-row > .col-md-2,
  .Contact-row > .col-md-2 {
    height: 7rem;
    width: 100%;
    background-color: rgb(18, 0, 65);
  }
  .portfolio-title > h2,
  .Contact-title > h2 {
    font-size: 2.5em;
    padding-left: 3rem;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  .projects {
    padding: 2em 3em;
  }
}
@media (max-width: 368px) {
  .Portfolio-row > .col-md-2,
  .Contact-row > .col-md-2 {
    height: 5rem;
    width: 100%;
    background-color: rgb(18, 0, 65);
  }
  .portfolio-title > h2,
  .Contact-title > h2 {
    font-size: 2em;
    padding-left: 3rem;
    font-weight: 600;
  }
}
